.center {
    margin:  auto;
    text-align: center;
    height: 100vh;
    background-color: azure;
    width: 100%;
    padding: 30vh
}

.h1 {
    font-size: 48px;
}

.p {
    color: #777e91;
    font-size: 14px;
    font-weight: 400;
}
