.wrapper {
    height: 64px;
    background-color: rgb(24, 26, 32);
    display: flex;
    justify-content: center;
    padding: 0 16px;
    width: 100%;
}

.inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.leftMenu {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.rightMenu {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.logo {
    margin: 0 8px;
    width: 120px;
    fill: rgb(240, 185, 11);
    font-size: 14px;
    cursor: pointer;
    margin-bottom: -6px;
}

.appIcon {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.iconRubik {
    cursor: pointer;
    color: #fff;
    margin: 0 8px;
    display: flex;
}

.appIcon:hover {
    .appStore {
        margin-top: -4px;
    }
    .downOutlined {
        display: none;
    }

    .upOutlined {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }
    .appStore {
        color: rgb(240, 185, 11);
    }
}

.appStore {
    font-size: 20px;
}

.iconDown {
    margin: 0 4px;
    color: rgb(132, 142, 156);
}

.downOutlined {
    font-size: 10px;
}

.upOutlined {
    display: none;
    font-size: 10px;
}

.buyCryptoWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.buyCryptoWrapper:hover {
    .downOutlined {
        display: none;
    }

    .upOutlined {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }
    .buyCrypto {
        color: rgb(252, 213, 53);
    }
}

.buyCrypto {
    display: flex;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}

.buyCryptoText {
}

.messState {
    box-sizing: border-box;
    margin: 0px 0px 0px 8px;
    min-width: 0px;
    display: flex;
    position: relative;
    border-radius: 4px;
    padding-left: 4px;
    margin-bottom: 2px;
    padding-right: 4px;
    padding-top: 2px;
    font-size: 10px;
    line-height: 16px;
    background-color: rgb(252, 213, 53);
    color: rgb(30, 35, 41);
    margin-top: 2px;
}

.messState::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid rgb(252, 213, 53);
    top: 2px;
    left: -4px;
}

.market {
    display: flex;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.trade {
    display: flex;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.derivatives {
    display: flex;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.earn {
    height: 100%;
    display: flex;
    justify-content: center;align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.nft {
    display: flex;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.marketWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin: 0 8px;
}

.marketWrapper:hover {
    .downOutlined {
        display: none;
    }

    .upOutlined {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }
    .market {
        color: rgb(252, 213, 53);
    }
}

.tradeWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin: 0 8px;
}

.tradeWrapper:hover {
    .downOutlined {
        display: none;
    }

    .upOutlined {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }
    .trade {
        color: rgb(252, 213, 53);
    }
}
.derivativesWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin: 0 8px;
}
.derivativesWrapper:hover {
    .downOutlined {
        display: none;
    }

    .upOutlined {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }
    .derivatives {
        color: rgb(252, 213, 53);
    }
}
.earnWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin: 0 8px;
}
.earnWrapper:hover {
    .downOutlined {
        display: none;
    }

    .upOutlined {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }
    .earn {
        color: rgb(252, 213, 53);
    }
}

.menu {
    width: 1200px;
    position: absolute;
    top: -12px;
    left: -25px;
}

.boxBuyCrypto {
    width: 340px;
    position: absolute;
    top: -12px;
    left: -70px;
}

.TradeContent {
    width: 330px;
    position: absolute;
    top: -12px;
    left: -40px;
}

.DerivativesContent {
    width: 400px;
    position: absolute;
    top: -12px;
    left: -45px;
}

.EarnContent {
    width: 800px;
    position: absolute;
    top: -12px;
    left: -35px;
}

.FinanceContent {
    width: 400px;
    position: absolute;
    top: -12px;
    left: -45px;
}

.WalletContent {
    width: 300px;
    position: absolute;
    top: -12px;
    left: -40px;
}

.OrdersContent {
    width: 300px;
    position: absolute;
    top: -12px;
    left: -40px;
}

.UserContent{
    width: 250px;
    position: absolute;
    top: -12px;
    left: -20px;
}

.iconUser {
    color: #fff;
    padding-bottom: 4px
}

.iconUser:hover {
    color: rgb(252, 213, 53)
}

.bellWrapper {
   position: relative;
   height: 100%;
   flex-direction: column;
   justify-content: center;
   cursor: pointer;
   margin: 0 8px;
}

.bellWrapper:hover {
   .bellContent {
      fill:  rgb(252, 213, 53);
   }
}

.bell {
   color: #fff;
   position:relative;
   top: 22px;
}

.bellNoti {
   position: relative;
   font-size: 14px;
   top: -36px;
   right: -7px;
   background-color: red;
   border-radius: 8px;
   justify-content: center;
   display: flex;
}

.bellContent {
   fill: #fff;
   position:relative;
   top: 22px;
   width: 16px;
}

.nftWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin: 0 8px;
}
.nftWrapper:hover {
    .downOutlined {
        display: none;
    }

    .upOutlined {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }
    .nft {
        color: rgb(252, 213, 53);
    }
}

