.wrapper {
    box-sizing: border-box;
    margin: 0px;
    background-color: rgb(30, 35, 41);
    position: relative;
    box-shadow: rgb(0 0 0 / 8%) 0px 0px 20px;
    overflow: hidden;
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    color: #fff;
}